include /mixins/print/alphabetical_index

doctype html
html(lang='en-us')
	head
		meta(charset='UTF-8')

		block head
		script(src='/scripts/DOM-utils.js')

		link(rel='stylesheet' href='/styles/print.sass')
		script(src='/node_modules/hyphenopoly/Hyphenopoly_Loader.js')
		script.
			PagedConfig = { auto: false }
			Hyphenopoly.config({
				require: {
					'en-us': 'FORCEHYPHENOPOLY'
				},
				setup: {
					selectors: {
						'p': {}
					}
				},
				handleEvent: {
					'hyphenopolyEnd': function () {
						window.PagedPolyfill.preview()
					}
				}
			})
		script(src='https://unpkg.com/pagedjs/dist/paged.polyfill.js')
		script(src='/scripts/print/paged_extender.js')

		script(src='/scripts/print/page_extra.js')
		script(src='/scripts/print/table_of_contents.js')
		script(src='/scr	ipts/print/alphabetical_index.js')

		if is_preview
			link(rel='stylesheet' href='/styles/print/preview.sass')
			script(src='https://unpkg.com/socket.io@4.3.2/client-dist/socket.io.js')
			script(src='/scripts/preview.js')
			script(src='/scripts/print/preview.js')

		template#page-extra
			.page_number

	body
		#cover
		#table-of-contents

		block content

		#index