doctype html
head
	meta(charset='UTF-8')

	block head

	link(rel='stylesheet' href='/styles/web.sass')

	script(src='https://unpkg.com/socket.io@4.3.2/client-dist/socket.io.js')
	script(src='/scripts/preview.js')


body
	main
		block content