@import common
@import print/extra
@import print/table_of_contents
	
@page
	size: A5
	background: white

	margin: 40pt
	margin-top: 40pt

@page:left
	margin-left: 120pt

@page:right
	margin-right: 120pt

html
	font-size: 10pt
	line-height: 120%

.pagedjs_page
	position: relative
	overflow: hidden

.pagedjs_page_content > div
	height: 100%

#cover
	page: cover
	height: 100%
	font-size: 50pt
	display: flex
	align-items: center
	justify-content: center

	&::before
		content: '[COVER]'

@page cover
	margin: 0

.pagedjs_cover_page .page_number
	display: none

aside
	max-width: 60%
	padding: 1rem
	background: black
	color: white
	margin-bottom: 1rem

	font-size: 80%
	line-height: 120%

	& > *:first-child
		margin-top: 0

	& > *:last-child
		margin-bottom: 0

.pagedjs_left_page aside
	float: left
	margin-left: 1rem

.pagedjs_right_page aside
	float: right
	margin-left: 1rem
	margin-right: -25%